.main {
  /* background-color: #f5f7fa; */
  background-color: #f5f7fa;
}

.markdown-body {
  font-size: 18px;
  line-height: 1.6;
}

.image {
  height: 200px;
  width: 80%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.responseBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.response {
  width: 90%;
  background-color: #ffffff;
  margin: 15px auto 0;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 2px solid #e3e8ed;
  border-radius: 12px;
}

.response:first {
  margin-top: 20px;
}

.response .matrix-input-label:first-child {
 color: gray;
}

.response .matrix-input-x {
  font-size: 0.7em;
}

label {
  margin-bottom: 10px;
}

#form-title p {
  font-size: 32px;
  font-weight: bold;
}


